/* ... el resto de tu código CSS ... */

#video-chico-container {
    position: fixed;
    bottom: 5px;
    right: 20px;
    display: none;
}

#animacion-chico {
    width: 200px;
}

/* Nuevas reglas para el video de la chica */
#video-chica-container {
    position: fixed;
    bottom: 5px; /* misma distancia desde el borde inferior */
    left: 20px;  /* ahora lo colocamos desde la izquierda */
    display: none;
}

#animacion-chica {
    width: 200px;
}
